<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>RPI PDPSI - ABOUT</title>
  <%= stylesheet_link_tag 'blueprint/screen','styles', :media => 'screen, projection'%>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/flick/jquery-ui.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js", "jquery.cycle.all.min.js","application" %>
</head>
<body>
	<div id="nav-container">
		<div id="nav">
			<ul>
				<li><%= link_to 'HOME', :controller => 'home', :action => 'index' %></li>
				<li class="active"><%= link_to 'ABOUT', :controller => 'about', :action => 'index' %></li>
				<li><%= link_to 'RUSH', :controller => 'rush', :action => 'index' %></li>
				<li><%= link_to 'ROSTER', :controller => 'brothers', :action => 'index' %></li>
				<li><%= link_to 'GALLERY', galleries_path %></li>
				<li><%= link_to 'CALENDAR', calendar_path %></li>
				<li><%= link_to 'CONTACT', contact_path %></li>
			</ul>
			<div id="login-nav">
				<%= render :partial=>'users/user_bar' %>
			</div>
		</div>
	</div>
	<div id="logo-header">
		<div id="logo-content">
		<%= link_to 'RPI Pi Delta Psi', {:controller => 'home', :action => 'index'}, :id => 'logo' %>
		</div>
	</div>
	<div class="container-container">
		<div class="container showgrid1">
			<div class="span-24">
				<%= yield %>
			</div>
		</div>
	</div>
	<div id="footer">
		<%= render :partial=>'layouts/footer' %>
	</div>
</body>
</html>
