<div class="prepend-2 span-20 append-2">
	<h1 style="margin-top: 40px">Lost Password</h1>

	<p>Please enter the email address that you registered with. Once you click on the Send button we will send you an email that allows you to change your password.</p>
	<br/>
	<%#= error_messages_for :user, :header_message => "Please review the following errors:", :message => "" %>
	<span class="flash-notice"><%= flash[:notice] %></span>
	<span class="flash-error"><%= flash[:error] %></span>

	<% form_for :user, :html => {:class=>'iform'} do |f| %>
	  <table>
	    <tr>
	      <td align="right">Email Address</td>
	      <td><%= f.text_field :email, :class=>"itext" %></td>
		</tr>
	    <tr>
	      <td align="right">Retype Email Address</td>
	      <td><%= f.text_field :email_confirmation, :class=>"itext" %></td>
		</tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td><%= submit_tag 'Submit', :class=>'ibutton' %></td>
		</tr>
	  </table>
	<% end %>
</div>